extends layout

block content   
  script.
    $(document).ready(function(){
      console.log('masternodes table');
      var ctable = $('#masternodes-table').dataTable( {
        autoWidth: true,
        searching: true,
        ordering: true,
        responsive: true,
        lengthChange: true,
        processing: false,
        bPaginate: true,
        pageLength: 100,
        order: [[ 4, "desc" ]],
        ajax: {
          url: '/ext/masternodes',
          dataSrc: function ( json ) {
            for ( var i=0;i<json.data.length; i++ ) {
              json.data[i]['address'] = "<a class='mono' href='/address/" + json.data[i]['address'] + "'>" + json.data[i]['address'] + "</a>";
              json.data[i]['lastseen'] = new Date((json.data[i]['lastseen']) * 1000).toLocaleString();
              if (json.data[i]['lastpaid'])
                json.data[i]['lastpaid'] = new Date((json.data[i]['lastpaid']) * 1000).toLocaleString();
              else
                json.data[i]['lastpaid'] = '<em>not available</em>';
            }
            return json.data;
          }
        },
        columns: [
          { data: 'address', width: '30%'},
          { data: 'ip', width: '20%' },
          { data: 'status', width: '10%' },
          { data: 'lastseen', width:'20%' },
          { data: 'lastpaid', width:'20%' },
        ],
        'rowCallback': function(row, data, index){
          if(data['status'] == "WATCHDOG_EXPIRED") {
            $(row).find('td:eq(2)').addClass('warning');
          } else if(data['status'] != "ENABLED" ) {
            $(row).find('td:eq(2)').addClass('danger');
          }
         }
      });
    });
  .col-md-12(style="margin-bottom: 4%")
    .panel.panel-default
      .panel-heading
        strong #{settings.locale.net_connections}
      table#masternodes-table.table.table-bordered.table-striped
        thead
          tr
            th.text-center #{"Payment Address"}
            th.text-center #{"IP Address"}
            th.text-center #{settings.locale.mn_status}
            th.text-center #{settings.locale.mn_lastseen}
            th.text-center #{settings.locale.mn_lastpaid}
        tbody.text-center
